@model MovieRegistration.Models.Movie.MovieViewModel


    <div class="MovieRegistration">
    <form asp-controller="Home" asp-action="Movie">
        <label asp-for="Title"></label>
        <input asp-for="Title">

        <label asp-for="Genre"></label>
        <input asp-for="Genre" />

        <label asp-for="Year"></label>
        <input asp-for="Year" />

        <label asp-for="Actors"></label>
        <input asp-for="Actors" />

        <label asp-for="Directors"></label>
        <input asp-for="Directors" />


        <button type="submit">Submit</button>
    </form>
</div>



@*https://localhost:5001/*@


